### 문제 설명
124 나라가 있습니다. 124 나라에서는 10진법이 아닌 다음과 같은 자신들만의 규칙으로 수를 표현합니다.
1. 124 나라에는 자연수만 존재합니다.
2. 124 나라에는 모든 수를 표현할 때 1, 2, 4만 사용합니다.

예를 들어서 124 나라에서 사용하는 숫자는 다음과 같이 변환됩니다.

|10진법|124 나라|10진법|124 나라|
|--|--|--|--|
|1|1|6|14|
|2|2|7|21|
|3|4|8|22|
|4|11|9|24|
|5|12|10|41|

자연수 n이 매개변수로 주어질 때, n을 124 나라에서 사용하는 숫자로 바꾼 값을 return 하도록 solution 함수를 완성해 주세요.

### 제한사항
- n은 500,000,000이하의 자연수 입니다.

### 입출력 예
|n|result|
|--|--|
|1|1|
|2|2|
|3|4|
|4|11|

```
1 = 1
2 = 2
3 = 4
4 = 11
5 = 12
6 = 14
7 = 21
8 = 22
9 = 24
10 = 41
11 = 42
12 = 44
13 = 111
14 = 112
15 = 114
16 = 121
17 = 122
18 = 124
19 = 141
20 = 142
21 = 144
22 = 211
```

In [ ]:
def solution(n):
    ls = []
    three_num = 1
    while True:
        if n % (3**three_num) == 0:
            ls.append(str(4))
            n -= (3**three_num)
        else:
            ls.append(str((n % (3**three_num)) // (3**(three_num-1))))
            n -= n%(3**three_num)
 
        if n == 0:
            break
      
        three_num += 1
    
    return "".join(ls[::-1])

### 다른 사람의 풀이

In [2]:
def change124(n):
    num = ['1','2','4']
    answer = ""


    while n > 0:
        n -= 1
        answer = num[n % 3] + answer
        n //= 3
    
    return answer

In [3]:
change124(9)

'24'