### 문제 설명
아래와 같이 5와 사칙연산만으로 12를 표현할 수 있습니다.

12 = 5 + 5 + (5 / 5) + (5 / 5)  
12 = 55 / 5 + 5 / 5  
12 = (55 + 5) / 5  

5를 사용한 횟수는 각각 6,5,4 입니다. 그리고 이중 가장 작은 경우는 4입니다.  
이처럼 숫자 N과 number가 주어질 때, N과 사칙연산만 사용해서 표현 할 수 있는 방법 중 N 사용횟수의 최솟값을 return 하도록 solution 함수를 작성하세요.

### 제한사항
- N은 1 이상 9 이하입니다.
- number는 1 이상 32,000 이하입니다.
- 수식에는 괄호와 사칙연산만 가능하며 나누기 연산에서 나머지는 무시합니다.
- 최솟값이 8보다 크면 -1을 return 합니다.

### 입출력 예
|N|number|return|
|--|--|--|
|5|12|4|
|2|11|3|

### 입출력 예 설명

예제 #1
문제에 나온 예와 같습니다.

예제 #2
`11 = 22 / 2`와 같이 2를 3번만 사용하여 표현할 수 있습니다.

### 나의 풀이

In [1]:
N = 3
number = 12
# 3 + 3 + 3 + 3
# 3 * 3 + 3
# (33 + 3) / 3

In [ ]:
N = 3
number = 15
# 3 + 3 + 3 + 3 + 3
# 3 * 3 + 3 + 3
# 33 / 3 + 3/3 + 3

11<3>, 1<2>, 111<4>

In [ ]:
N = 4
number = 23
# 4 * 4 + 4 + 4 - 4/4 <6>
# 23 = 4 * 5 + 3
# 23 = 4 * 6 - 1

In [ ]:
N = 2
number = 15
# 2 * 7 + 1 = 2 * 2 * 2 * 2 - 2/2 <6>
# 22 /2 + 2 * 2 <5>

In [ ]:
N = 2
number = 8
# 2 * 2 * 2 <3>

In [ ]:
3N -> 더하기 3개
N*N -> 곱하기 2개
N/N -> 나누기(1) 2개
NN

In [ ]:
def solution(N, number):
    if number % N == 0:
        min = number // N
        if min > 8:
            return -1
        return number // N

In [ ]:
def solution(N, number):
    answer = 0
    return answer

In [2]:
N = 5
number = 12

In [13]:
number // N

2

In [12]:
number % N

2

In [72]:
N = 5
number = 12

In [73]:
ls = [N ** i for i in range(9)]
one_ls = [str(N) * i for i in range(1, 6)]
one_range = []
for i, num in enumerate(ls):
    if num > number:
        min, max = ls[i-1], ls[i]
        break
for one in one_ls:
    if (int(one) > min) & (int(one) < max):
        one_range.append(int(one))

In [74]:
min, max

(5, 25)

In [75]:
one_range

[]

In [77]:
abs(number - min), abs(number-max)

(7, 13)

### 미해결