In [1]:
from Recommender import *

ModuleNotFoundError: No module named 'Recommender'

In [2]:
columns = ["article_1", "article_2", "article_3", "article_4", "article_5"]
index = ["user_1", "user_2", "user_3", "user_4"]

data = np.array([
    [5,3,0,0,2],
    [2,0,0,1,4],
    [0,0,4,3,1],
    [4,0,4,5,0],
])

sample_df = pd.DataFrame(data, columns=columns, index=index)
sample_df

        article_1  article_2  article_3  article_4  article_5
user_1          5          3          0          0          2
user_2          2          0          0          1          4
user_3          0          0          4          3          1
user_4          4          0          4          5          0

In [3]:
c = Recommender(sample_df, "cosine", "user_1", 2)

In [4]:
c.similarity_matrix()

          user_1    user_2    user_3    user_4
user_1  1.000000  0.747409  1.000000  1.000000
user_2  0.747409  1.000000  0.536875  0.907959
user_3  1.000000  0.536875  1.000000  0.968277
user_4  1.000000  0.907959  0.968277  1.000000

In [6]:
c.mean_score()

     article_1 article_2 article_3 article_4 article_5
user         5         3         0         0         2
mean         2         0         4         4       0.5

In [8]:
c.recommend()

['article_3', 'article_4']

In [9]:
c.evaluate("mse")

5.625